* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 10px;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #4CAF50;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.calendar {
    background: #eaeaea;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.actions button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

.actions button:hover {
    background-color: #0056b3;
    transform: scale(1.03);
}

.notifications {
    background-color: #f1f8e9;
    padding: 15px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex; /* Mostrar menú hamburguesa en móviles */
    }

    nav a {
        display: none; /* Ocultar links de navegación en móviles */
    }

    .dropdown-menu {
        display: flex; /* No mostrar inicialmente */
        flex-direction: column;
        visibility: hidden; /* Ocultar inicialmente */
        opacity: 0;
        transition: visibility 0s 0.2s, opacity 0.2s; /* Agregar transición */
    }

    .dropdown-menu.show {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s; /* Solo mostrar */
    }
}